{% extends "base.html" %}

{% block content %}
<!-- hero section -->
<section id="hero" class="h-[calc(100vh-5rem)] px-10 pb-10">
    <div
        class="border border-neutral-700 shadow-lg rounded-lg p-10 text-center h-full flex flex-col items-center justify-center">
        <img src="images/penguin-in-hoddie-1000.gif" class="sm:w-full lg:w-fit" />
        <h1 class="text-5xl my-3">
            Ops!
        </h1>
        <p class="text-xl">
            Looks like that page doesn't exist! If you reached this page through any of the sites internal links then
            please file an issue <a href="https://github.com/lakrestofer/lakrestofer.xyz/issues"
                class="underline text-blue-400">here</a>
        </p>
    </div>
</section>
{% endblock content %}