<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.sand.min.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <title>lakrestofer.xyz</title>
</head>

<body>
  {% include "navbar.html"%}
  <main class="container">
    {% block content %} {% endblock %}
  </main>
  {% include "footer.html"%}
</body>

</html>