{% extends "base.html" %}

{% block content %}
<section class="min-h-[calc(100vh-5rem)]">
    <article class="m-auto prose sm:prose-2xl prose-invert lg:prose-xl">
        <h1 class="text-center">
            {{ page.title }}
        </h1>
        <p>Date: {{ page.date }}</p>
        {{ page.content | safe }}
    </article>
    <div class="m-auto text-center my-5">

        <a href="#navbar" class="m-auto p-3 rounded-lg border border-neutral-700">Go back to the top</a>
    </div>
</section>
{% endblock content %}