<footer class="flex border-t border-neutral-700 p-5 gap-5 justify-between">
    <div class="border-r border-neutral-700 pr-5">
        <a href="/">

            <img src="/images/penguin-in-hoddie-1000.gif" class="w-10 m-auto" />
            <h3>
                la .krestofer
            </h3>
        </a>
    </div>
    <div class="flex gap-5 items-center">

        <div>
            <a href="https://github.com/lakrestofer/lakrestofer.xyz" class="underline">view the source of this
                site here</a>

        </div>
        <div>
            © Christoffer.F.R 2023 - present
        </div>
    </div>

</footer>