<footer class="container">
  <nav>
    <ul>
      <li>
        <small>
          Copyright © 2023-2025 Christoffer.F.R
        </small>
      </li>
    </ul>
    <ul>
      <li>
        <small>
          Built with <a href="https://picocss.com"> Pico</a> and <a href="https://www.getzola.org/"> Zola </a>
        </small>
      </li>
      <li>
        •
      </li>
      <li>
        <!-- <img src="github-mark-white.svg" alt="GitHub Logo" width="20" style="margin-right:0.1rem"> -->
        <small>
          <a href="https://github.com/lakrestofer/lakrestofer.xyz">Source</a>
        </small>
      </li>
    </ul>
  </nav>
</footer>