{% extends "base.html" %}

{% block content %}
<!-- hero section -->
<section id="hero" class="h-[calc(100vh-5rem)] p-10">
  <div class="border border-neutral-700 shadow-lg rounded-lg p-10 text-center h-full">
    <img src="images/penguin-in-hoddie-1000.gif" class="sm:w-full lg:w-fit lg:m-auto"/>
    <h1 class="text-5xl my-3">
      Hi!
    </h1>
    <p class="text-xl">
      And welcome to my site! It is a bit empty at the moment but hopefully that will change soon! In the meantime you can find out more about me <a href="./about">here</a>.
    </p>
  </div>
</section>
{% endblock content %}