<header class="flex justify-between h-10 items-center p-10 text-xl font-bold">
    <a>
        <h3 class="text-3xl">
            la .krestofer
        </h3>
    </a>

    <!-- <nav>
        <ul class="flex gap-3">
            <li>
                <a>
                    Blog
                </a>
            </li>
            <li>
                <a>
                    Portfolio
                </a>
            </li>
            <li>
                <a>
                    About
                </a>
            </li>
            <li>
                <a>
                    Contact
                </a>
            </li>
        </ul>
    </nav> -->
</header>